.nav ul{
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	top: 0;
  	width: 100%;
  	z-index: 1;

 }


.nav ul li{

	list-style-type: none;
	float:right;
	color: white;
}
 .nav ul li a{

	text-decoration: none;
	color:black;
	font-weight: bolder;
	font-family: verdana;
	padding: 14px 16px;
	display: block;
	text-align: center;
}
.nav ul li a:hover{
font-size: 25px;

}
